<p>Listado de Héroes</p>

<!-- UNa forma de validar 2 if
<div *ngIf="heroeBorrado != '' ">
    <h3>Heroe Borrado: <small>{{ heroeBorrado }}</small> </h3>  
</div>

<div *ngIf="!heroeBorrado ">
    <h3>No ha borrado nada. </h3>  
</div>
-->

<div *ngIf="heroeBorrado; else noBorrado">
    <h3>Heroe Borrado: <small>{{ heroeBorrado }}</small> </h3>  
</div>
<!-- Refrencia local se identifica con # -->
<ng-template #noBorrado>
    <h3>No ha borrado nada.</h3>
</ng-template>

<button (click)="borrarHeroe()"> Borrar </button>

<ul>
    <li *ngFor="let heroe of heroes; let i = index"> 
        {{ i + 1 }} - {{ heroe }}
    </li>
</ul>